<footer>
  <a id="contact"></a>
  <div class="container container--footer">

    <h3 id="team">Meet the Organizers</h3>

    <ul class="team">
      <li class="team__inner">
        <h4>Kristina Schneider</h4>
        <img src="/images/upfront_team_kriesse.jpg" alt="Kristina Schneider">
        <a href="https://twitter.com/kriesse" title="Kristina Schneider on Twitter">@kriesse</a>
        <a href="https://www.kristinaschneider.com/" title="Kristina Schneider">kristinaschneider.com</a>
      </li>
      <li class="team__inner">
        <h4>Max Fellmuth</h4>
        <img src="/images/upfront_team_max.jpg" alt="Max Fellmuth">
        <a href="https://twitter.com/maxfell">@maxfell</a>
        <a href="https://www.maxfellmuth.com/" title="Max Fellmuth">maxfellmuth.com</a>
      </li>
      <li class="team__inner">
        <h4>Katharina Jockenhöfer</h4>
        <img src="/images/upfront_team_katha.jpg" alt="Katharina Jockenhöfer">
        <a href="https://twitter.com/Qate_Oh">@qate_oh</a>
      </li>
      <li class="team__inner">
        <h4>Alex Feyerke</h4>
        <img src="/images/upfront_team_alex.png" alt="Alex Feyerke">
        <a href="https://twitter.com/espylaub" title="Alex Feyerke on Twitter">@espylaub</a>
      </li>
    </ul>

    <h3>Code of Conduct</h3>

    <p>
      If you are attending, organizing or speaking at our event, you are required to agree with our <a href="/code-of-conduct/">Code of Conduct</a>. If you encounter or observe any behaviour that is not in line with the Code of Conduct, please contact one of our team members by talking to us directly or tweeting to us at <a href="https://twitter.com/upfront_ug">@upfront_ug</a> or at our personal twitter accounts. – <a href="http://twitter.com/Qate_Oh">Katha</a>, <a href="http://twitter.com/espylaub" title="Alex Feyerke on Twitter">Alex</a>, <a href="http://twitter.com/maxfell">Max</a>, <a href="http://twitter.com/kriesse" title="Kristina Schneider on Twitter">Kristina</a>.
    </p>

    <h3>Contact</h3>

    <p>
      <a href="https://twitter.com/upfront_ug">Follow us on Twitter</a>
      |
      <a href="https://www.facebook.com/pages/Upfront/158502897496288">Join us on Facebook</a>
      |
      <a href="https://www.meetup.com/up-front-ug/">Find us on Meetup.com</a>
      <!-- |
      <a href="http://groups.google.com/group/upfront_ug">Join our Mailinglist</a> -->
    <p>

    <h3>Venue</h3>

    <p>
      Our meetups take place at<br>
      <a href="https://co-up.de/">co.up Coworking Space</a><br>
      Adalbertstraße 8<br>
      10999 Berlin<br>
      <a href="https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Adalbertstra%C3%9Fe+7,+10999+Berlin,+Germany&sll=52.549636,13.666992&sspn=0.901874,1.851196&ie=UTF8&hq=&hnear=Adalbertstra%C3%9Fe+7,+Kreuzberg+10999+Berlin,+Germany&z=16" class="hide-on-print">&raquo; Directions</a>
    </p>

  </div>
</footer>
