<header class="header">
  <div class="container header__container">
    <div class="header__logo">
      <a href="/" title="Home" class="logo">
        {% include logo-svg.html %}
      </a>
    </div>

    <div class="header__details">
      <div class="tagline">
        Up.front is a monthly meetup <br/>
        for the web design community in Berlin.
      </div>

      <nav class="hide-on-print">
        <a href="/">Home</a>
        <a href="/archive/">Event Archive</a>
        <a href="/people/">People</a>
        <a href="/about/">About</a>
      </nav>
    </div>
  </div>
</header>
