<head>
  <meta charset="utf-8" />

  <title>up.front – Web design community in Berlin</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <meta property="og:title" content="Up.front – Meetup for the web design and front end community in Berlin" />
  <meta property="og:type" content="example:usergroup" />
  <meta property="og:url" content="https://upfrontug.github.io/" />
  <meta property="og:image" content="https://upfrontug.github.io//images/upfront-fb-cover-63.png" />
  <meta property="og:site_name" content="/upfrontug.github.io/" />
  <meta property="og:description" content="Upfront is a monthly meetup for the web design community in Berlin. Everyone is welcome to participate, either by attending or giving a talk themselves." />

  <link rel="stylesheet" href="https://use.typekit.net/jmd3prk.css">

  <meta name="keywords" content="UX, UI, community, Frontend, Design, Webdesign, HTML, CSS, Coding, web development, Usergroup, Berlin, meetup">
  <meta name="description" content="Upfront is a monthly meetup for the web design community in Berlin. Everyone is welcome to participate, either by attending or giving a talk themselves.">
  <link rel="author" href="/humans.txt" />

  <style>
    article, aside, dialog, figure, footer, header,
    hgroup, menu, nav, section { display: block; }
  </style>

  <link rel="stylesheet" href="/css/styles.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/css/print.css" type="text/css" media="print" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="shortcut icon" href="/favicon.ico" />
</head>
