<header class="header">
  <div class="container header__container">
    <div class="header__logo">
      <a href="/" title="Home" class="logo">
        {% include logo-svg.html %}
      </a>
    </div>

    <div class="header__details">
      <div class="tagline">
        Up.front is a monthly meetup <br/>
        for the web design community in Berlin.
      </div>

      <nav class="hide-on-print">
        <a href="/archive/">Archive</a>
        <a href="/about/">About</a>
        <a href="/submit/">Submit a Talk</a>
        <a href="/sponsoring">Sponsor</a>
      </nav>
    </div>
  </div>
</header>
