<head>
  <title>up.front – Web design community in Berlin</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <meta property="og:title" content="up.front – Webdesign and Frontend Meetup Berlin" />
  <meta property="og:type" content="example:usergroup" />
  <meta property="og:url" content="http://up.front.ug" />
  <meta property="og:image" content="http://up.front.ug/images/logo-fb.jpg" />
  <meta property="og:site_name" content="up.front.ug" />
  <meta property="og:description" content="up.front is a monthly meetup focused on web design and frontend development topics, based in Berlin. Everyone is welcome to participate, either by attending or giving a talk themselves." />

  <meta charset="utf-8" />

  <meta name="keywords" content="UX, UI, community, Frontend, Design, Webdesign, HTML, CSS, Coding, web development, Usergroup, Berlin, meetup">
  <meta name="description" content="up.front is a monthly meetup for the web design community in Berlin. Everyone is welcome to participate, either by attending or giving a talk themselves.">
  <link rel="author" href="humans.txt" />

  <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <style>
    article, aside, dialog, figure, footer, header,
    hgroup, menu, nav, section { display: block; }
  </style>

  <link href='http://fonts.googleapis.com/css?family=Fira+Sans:400,500,400italic,500italic' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="stylesheets/custom.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="stylesheets/print.css" type="text/css" media="print" />

 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
  <link rel="shortcut icon" href="favicon.ico" />

</head>