<head>
  <meta charset="utf-8" />

  <title>up.front – Web design community in Berlin</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <meta property="og:title" content="Up.front – Meetup for the web design and front end community in Berlin" />
  <meta property="og:type" content="example:usergroup" />
  <meta property="og:url" content="http://up.front.ug" />
  <meta property="og:image" content="http://up.front.ug/images/upfront-fb-cover-63.png" />
  <meta property="og:site_name" content="up.front.ug" />
  <meta property="og:description" content="Up.front is a monthly meetup for the web design community in Berlin. Everyone is welcome to participate, either by attending or giving a talk themselves." />

  <script>
    (function(d) {
      var config = {
        kitId: 'jmd3prk',
        scriptTimeout: 3000,
        async: true
      },
      h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
    })(document);
  </script>

  <meta name="keywords" content="UX, UI, community, Frontend, Design, Webdesign, HTML, CSS, Coding, web development, Usergroup, Berlin, meetup">
  <meta name="description" content="Up.front is a monthly meetup for the web design community in Berlin. Everyone is welcome to participate, either by attending or giving a talk themselves.">
  <link rel="author" href="/humans.txt" />

  <style>
    article, aside, dialog, figure, footer, header,
    hgroup, menu, nav, section { display: block; }
  </style>

  <link rel="stylesheet" href="/css/styles.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/css/print.css" type="text/css" media="print" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="shortcut icon" href="/favicon.ico" />
</head>
