<div style="margin: 2em auto; overflow: hidden; max-width: 300px;">
  <div style="float: left;">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <div class="fb-like" data-href="http://up.front.ug/" data-width="150px" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
  </div>

  <div style="float: right;">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <!-- <g:plusone size="medium" data-href="//plus.google.com/114106535649642671688"></g:plusone> -->
    <g:plusone size="medium" data-href="http://up.front.ug/"></g:plusone>
  </div>
</div>