<p>
  Up.front happens every month (except during our summer and winter breaks), usually on the second Tuesday of the month. The next Up.front meetups are scheduled for:
</p>
<ul class="list-next-events">
  <li>
    <span>#84</span>
    Tue, Oct 9 2018
  </li>
  <li>
    <span>#85</span>
    Tue, Nov 13 2018
  </li>
  <li>
    <span>###</span>
    winter break!
  </li>
  <li>
    <span>#86</span>
    Tue, March 12 2019
  </li>
</ul>
 <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-16809277-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
