<p>
  Up.front takes place 10 times a year, usually on the second Tuesday of the month. The next Up.front meetups are scheduled for:
</p>
<ul class="list-next-events">
  <li>
    <span>#65</span>
    Tue, Mar 8 2016
  </li>
  <li>
    <span>#66</span>
    Tue, Apr 12 2016
  </li>
  <li>
    <span>#67</span>
    Tue, May 10 2016
  </li>
  <li>
    <span>#68</span>
    Tue, Jun 14 2016
  </li>
</ul>
 <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-16809277-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>