<header class="title">

  {% if post.meetup %}
    {% if forloop.first %}
      <a href="{{post.meetup}}" class="btn btn--rsvp hide-on-print">RSVP</a>
    {% else %}
      <a href="{{post.meetup}}" class="meetup-link">View on meetup.com</a>
    {% endif %}
  {% endif %}


  <a href="{{ post.url }}" style="display: block;">
    <span class="title__count">
      #{{post.counter}}
    </span>
    <span class="title__date">
      {{post.date | date:'%a, %b %d %Y'}}
      <br>
      {{post.time}}
    </span>
  </a>
</header>
<div class="post__content">
  {% if post.intro%}
    <p>
      {{post.intro}}
    </p>
  {% endif %}

    {% if post.talks %}
    <ul class="talk-list">
      {% for talk in post.talks %}
        {% include talk-item.html %}
      {% endfor %}
    </ul>
    {% endif %}

  {{ post.content }}

</div>
