<ul class="team">
  <li class="team__inner">
    <h4>Kristina Schneider</h4>
    <img src="/images/upfront_team_kriesse.jpg" alt="Kristina Schneider" width="120" height="120">
    <a href="https://twitter.com/kriesse" title="Kristina Schneider on Twitter">@kriesse</a>
    <a href="https://www.kristinaschneider.com/" title="Kristina Schneider">kristinaschneider.com</a>
  </li>
  <li class="team__inner">
    <h4>Max Fellmuth</h4>
    <img src="/images/upfront_team_max.jpg" alt="Max Fellmuth" width="120" height="120">
    <a href="https://twitter.com/maxfell">@maxfell</a>
    <a href="https://www.maxfellmuth.com/" title="Max Fellmuth">maxfellmuth.com</a>
  </li>
  <li class="team__inner">
    <h4>Katharina Jockenhöfer</h4>
    <img src="/images/upfront_team_katha.jpg" alt="Katharina Jockenhöfer" width="120" height="120">
    <a href="https://twitter.com/Qate_Oh">@qate_oh</a>
  </li>
  <li class="team__inner">
    <h4>Alex Feyerke</h4>
    <img src="/images/upfront_team_alex.png" alt="Alex Feyerke" width="120" height="120">
    <a href="https://twitter.com/espylaub" title="Alex Feyerke on Twitter">@espylaub</a>
  </li>
</ul>
