// submit form
form fieldset {
  margin: 0 0 20px 0;
  font-size: 14px;
  }
form fieldset.form-actions {
  margin: 0;
  }
form fieldset label {
  display: block;
  margin: 0 0 5px 0;
  font-weight: bold;
  }
form fieldset input.form-text, textarea.form-text {
  display: block;
  width: 50%;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ddd;
  background: #f5f5f5;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
  border-radius: 4px;
  }
form fieldset input.form-text:focus, textarea.form-text:focus {
  border: 1px solid #ccc;
  background: #fff;
  }
form fieldset p.form-help {
  margin: 5px 0 0 0;
  font-size: 12px;
  color: #999;
  }
form input[type="submit"] {
  border: 0;
}
