/* reset.css */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

article, aside, dialog, figure, footer, header, hgroup, nav, section {
  display: block; }

body {
  line-height: 1.5; }

a img {
  border: none; }

/* typography.css */
html {
  font-size: 100.01%; }

body {
  font-size: 100%;
  font-family: 'Fira Sans', Helvetica, Arial, 'Helvetica Neue';
  color: #3a3833; }

.center {
  text-align: center; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #57544f; }

h1 {
  line-height: 1;
  margin-bottom: 0.5em;
  margin-top: 1em;
  font-size: 1.2em;
  text-transform: uppercase;
  color: #d03800; }

h2 {
  line-height: 1;
  font-family: 'Fira Sans';
  font-weight: 500;
  color: #d03800; }

h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
  font-family: 'Fira Sans';
  font-weight: 500;
  text-align: center; }

h4 {
  font-size: 1em;
  margin-bottom: 0;
  font-family: 'Fira Sans';
  font-weight: 500;
  color: #d03800;
  float: left;
  /* For slide download on the right */ }
  h4 span {
    display: block; }

p {
  margin: 0 0 1.5em; }

em, i {
  font-weight: normal;
  font-style: normal;
  font-family: 'Fira Sans';
  font-style: italic; }

aside {
  font-size: 1.25em;
  font-family: 'Fira Sans';
  font-style: italic;
  margin: 1em 0 3.5em 0;
  color: #57544f;
  text-align: center; }

/* layout */
#root {
  margin-top: 0; }

.container {
  width: 95%;
  max-width: 720px;
  margin: 1.5em auto 4.5em auto; }

.logo_header {
  padding-top: 0.5em; }

#logo {
  width: 214px;
  font-size: 1em;
  margin: 2em auto;
  padding: 0; }
  #logo a {
    background-image: url(../images/logo-b.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    display: block;
    width: 214px;
    height: 214px; }
    #logo a:hover {
      background-position: -426px 0; }

nav ul {
  text-align: center; }
nav li {
  display: inline-block;
  margin: 0 2.5%; }
nav a {
  display: inline-block;
  padding: 0.5em 0.75em 0.4em;
  color: #a01f0c;
  text-decoration: none; }
  nav a:hover, nav a:active, nav a:focus {
    text-decoration: underline; }

.submit-btn {
  background-color: #d03800;
  color: white;
  border-radius: 4px;
  margin-left: 10px; }
  .submit-btn:hover, .submit-btn:active, .submit-btn:focus {
    color: white;
    background-color: #a01f0c;
    text-decoration: none; }

.banner {
  background-color: #d03800;
  color: white;
  text-align: center;
  font-size: 0.75em;
  padding: 0.5em; }

article {
  margin-bottom: 6em;
  clear: left; }

/* design */
body {
  background: white; }

hr {
  border: 0.12em dotted #c4c2be;
  margin-bottom: 1em; }

/* state changes (special styles for next meetup) */
h2.title-block {
  font-family: 'Fira Sans';
  font-weight: 500;
  font-size: 2em;
  padding: 0.5em 0;
  margin: 0;
  color: white;
  background: #57544f;
  text-align: center; }

article header {
  margin-bottom: 3em; }

.next h2.title-block {
  color: white;
  background: #d03800; }
.next .attention {
  font-style: italic;
  color: #d03800; }

aside, footer, .next p {
  color: #57544f; }

/* links */
a {
  padding: 0 1px;
  color: #a01f0c;
  text-decoration: none;
  -webkit-transition: color 0.3s ease, background-color 0.3s ease;
  -moz-transition: color 0.3s ease, background-color 0.3s ease;
  transition: color 0.3s ease, background-color 0.3s ease; }
  a:hover, a:active, a:focus {
    color: #d03800;
    text-decoration: underline;
    outline: none; }

/* facebook like button */
.like_box {
  background: transparent; }

/* lists */
ul {
  margin: 0 0 1.5em 0;
  padding: 1.5em 0 0 0; }
  ul li {
    margin: 0 0 1.5em 0;
    padding: 0; }
  ul.two {
    overflow: hidden; }
    ul.two > li {
      width: 47%;
      float: left;
      margin: 0 5% 1.5em 0; }
  ul li h4, ul li p {
    padding: 1px; }

.talks li {
  list-style: none; }
  .talks li p {
    clear: both; }
  .talks li img {
    float: left;
    border-radius: 25px;
    margin-left: -65px;
    width: 50px;
    height: 50px; }

.talk_example {
  padding: 0.5em;
  background-color: whitesmoke; }
  .talk_example .speaker_links {
    margin-bottom: 0.5em; }

.small_meetup_print {
  font-size: 0.75em;
  display: none; }

.next .small_meetup_print {
  display: block; }

.first {
  clear: both; }

ul.two > li.last {
  margin-right: 0; }

.speaker_info {
  font-family: 'Fira Sans';
  font-style: italic;
  border-top: 0.25em solid #b2b1ad;
  padding-top: 0.5em;
  margin-top: -0.75em;
  margin-bottom: 0; }

.lightning_talk {
  margin-bottom: 0; }

.speaker_links {
  list-style: none;
  margin: 0 0 3em 0;
  padding: 0;
  clear: both;
  font-size: 0.875em;
  overflow: hidden;
  border-bottom: 0; }
  .speaker_links li {
    float: left;
    margin: 0 1.5em 0 0;
    list-style: none; }
    .speaker_links li a {
      color: #b2b1ad; }
      .speaker_links li a:hover, .speaker_links li a:active, .speaker_links li a:focus {
        color: #d03800;
        text-decoration: none; }

.cancelled {
  text-decoration: line-through; }

.cancelled_hint {
  text-decoration: none;
  font-family: 'Fira Sans';
  font-weight: 500; }

.talk_download {
  display: block;
  background: url('../images/slide-icon.png') no-repeat;
  background-position: bottom;
  width: 32px;
  height: 32px;
  float: right;
  text-indent: -9999px;
  white-space: nowrap;
  margin: 2px; }
  .talk_download:hover {
    background-position: top; }

/* social network links list */
.social {
  padding: 0;
  overflow: hidden; }
  .social li {
    width: 32%;
    float: left;
    margin-right: 2%;
    overflow: hidden; }
    .social li.last {
      margin-right: 0; }
  .social a {
    display: block;
    min-height: 3em;
    height: auto !important;
    height: 3em;
    color: #d03800;
    font-size: 0.875em;
    padding: 9.5em 2em 1.5em 2em;
    text-decoration: none;
    border-radius: 2px; }
    .social a:hover, .social a:active, .social a:focus {
      background-color: white;
      color: white;
      color: #d03800;
      text-decoration: none; }

.social_twitter, .social_fb, .social_mail {
  background: #a01f0c url(/images/upfront_social_icons.png) no-repeat 50% 16px; }

.social_fb {
  background-position: 50% -293px; }

.social_mail {
  background-position: 50% -605px; }

/* speakers and team */
.team_cntr {
  background: #eaefec;
  overflow: hidden; }
  .team_cntr .container {
    margin: 3em auto; }

.team {
  overflow: hidden;
  padding-top: 0;
  list-style: none; }
  .team li {
    font-size: 0.75em;
    text-align: center;
    width: 23%;
    margin-right: 2.6%;
    float: left; }
    .team li:nth-child(4n), .team li.last {
      margin-right: 0px; }
  .team span {
    font-size: 0.75em; }
  .team img {
    max-width: 100%; }

.team_inner {
  display: block;
  padding: 1em 0.2em;
  background: white;
  color: #a01f0c;
  text-decoration: none;
  min-height: 15.5em; }
  .team_inner h4 {
    margin-bottom: 0.5em;
    float: none; }

footer {
  background: #d03800;
  color: white;
  text-align: center;
  border-bottom: 1px solid #a01f0c;
  border-top: 1px solid white; }
  footer h3 {
    color: white; }
  footer .container {
    padding: 3em 0;
    margin-bottom: 0; }
  footer a {
    color: white;
    text-decoration: underline; }
    footer a:hover, footer a:active, footer a:focus {
      color: white;
      text-decoration: underline; }

.team a {
  color: #3a3833;
  text-decoration: none;
  display: block; }
  .team a:hover, .team a:active, .team a:focus {
    color: #3a3833;
    text-decoration: underline; }
  .team a:hover, .team a:active, .team a:focus {
    color: #d03800;
    text-decoration: none; }

@media screen and (max-device-width: 660px), screen and (max-width: 660px) {
  .container {
    width: 95%;
    max-width: none;
    margin: 1.5em auto 4.5em auto; }
  ul.two > li, .first, .last {
    width: auto;
    float: none;
    margin: 0 0 3em 0; }
  .team li {
    width: 48%;
    margin-right: 3%; }
    .team li:nth-child(2n) {
      margin-right: 0px; }
  .social a {
    min-height: 5em;
    height: auto !important;
    height: 5em; }
  h4 {
    width: 85%; } }

@media screen and (max-device-width: 320px), screen and (max-width: 320px) {
  html {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none; }
  h2 {
    font-size: 1.2em; }
  aside {
    font-size: 1em; }
  article {
    margin-bottom: 3em; }
    article header {
      margin-bottom: 1.5em; }
  .social a {
    font-size: 0.75em;
    padding: 9.5em 1em 1.5em 1em; }
  nav li {
    display: inline-block;
    margin: 0; } }

/* fluid image */
.flex_img {
  display: block;
  width: 100%; }
  .flex_img img {
    width: 100%;
    height: auto; }

/* fliud video */
.flex_vid {
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  margin: 2em 0 1em 0; }
  .flex_vid iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* Hi-res logos */
  img {
    max-width: 100%;
    height: auto; }
  #logo a {
    background-image: url('../images/logo-b@2x.png');
    background-size: auto 214px; }
  .talk_download {
    background: url('../images/slide-icon@2x.png') no-repeat;
    background-size: 32px auto;
    background-position: bottom; } }

form fieldset {
  margin: 0 0 20px 0;
  font-size: 14px; }

form fieldset.form-actions {
  margin: 0; }

form fieldset label {
  display: block;
  margin: 0 0 5px 0;
  font-weight: bold; }

form fieldset input.form-text, textarea.form-text {
  display: block;
  width: 50%;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #dddddd;
  background: whitesmoke;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 4px; }

form fieldset input.form-text:focus, textarea.form-text:focus {
  border: 1px solid #cccccc;
  background: white; }

form fieldset p.form-help {
  margin: 5px 0 0 0;
  font-size: 12px;
  color: #999999; }

form input[type="submit"] {
  margin: 0;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid #cccccc;
  background: #eeeeee;
  border-radius: 4px; }

form input[type="submit"]:hover, form input[type="submit"]:focus {
  border: 1px solid #bbbbbb;
  background: #e5e5e5; }

form input[type="submit"]:active {
  border: 1px solid #cccccc;
  background: #eeeeee; }
