<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>up.front – webdesign &amp; frontend user group berlin</title>
    <!--[if IE]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <style>
      article, aside, dialog, figure, footer, header,
      hgroup, menu, nav, section { display: block; }
    </style>
    <link rel="stylesheet" href="stylesheets/custom.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="stylesheets/print.css" type="text/css" media="print" />
    <!--[if lt IE 8]>
      <link rel="stylesheet" href="stylesheets/ie.css" type="text/css" media="screen, projection" />
    <![endif]-->

    <script type="text/javascript" src="http://use.typekit.com/jmd3prk.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <link rel="shortcut icon" href="favicon.ico" />

  </head>
  <body>
  <div id="wrap">
    <div id="root" class="container">
      <header>
        <h1 id="logo">
          <a href="/"></a>
        </h1>
        <aside>
          up.front is a user group focused on web design &amp; frontend development topics, based in Berlin.
          Every month we meet at <a href="http://co-up.de" title="co-up.de">co.up</a>, a co-working space in Kreuzberg, where we discuss everything related to webdesign and frontend development. Everyone is welcome to participate, either by attending or holding a talk themselves. We are very much looking forward to your talk proposals, be it a keynote or a 5 minute chat about your latest find on the web.
        </aside>
      </header>
      
      <div class="content">
        
        {{content}}

      </div>

      <!-- footer -->
      <footer>
        <p>
          You are welcome to spread the word via your favourite channels.
        </p>
        <p>
          Follow up.front.ug on <a href="http://twitter.com/upfront_ug">Twitter</a><br />
          We are also on <a href="http://www.facebook.com/pages/Upfront/158502897496288">Facebook</a><br />
          Join our <a href="http://groups.google.com/group/upfront_ug">Mailinglist</a>
        </p>
      </footer>

    </div>
   </div>

     <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-16809277-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
