<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#">
  <head>
    <title>up.front – webdesign &amp; frontend user group berlin</title>
    <meta property="og:title" content="up.front – Webdesign and Frontend Meetup Berlin" />
    <meta property="og:type" content="usergroup" />
    <meta property="og:url" content="http://up.front.ug" />
    <meta property="og:image" content="http://up.front.ug/images/logo-fb.jpg" />
    <meta property="og:site_name" content="up.front.ug" />
    <meta property="og:description" content="up.front is a monthly meetup focused on web design and frontend development topics, based in Berlin. Everyone is welcome to participate, either by attending or holding a talk themselves." />
    
    <meta charset="utf-8" />
    
    <!--[if IE]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <style>
      article, aside, dialog, figure, footer, header,
      hgroup, menu, nav, section { display: block; }
    </style>
    <link rel="stylesheet" href="stylesheets/custom.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="stylesheets/print.css" type="text/css" media="print" />
    <!--[if lt IE 8]>
      <link rel="stylesheet" href="stylesheets/ie.css" type="text/css" media="screen, projection" />
    <![endif]-->

    <script type="text/javascript" src="http://use.typekit.com/jmd3prk.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <link rel="shortcut icon" href="favicon.ico" />

  </head>
  <body>
  <div id="wrap">
    <div class="like_box">
      <iframe src="http://www.facebook.com/plugins/like.php?app_id=265825833436844&amp;href=http%3A%2F%2Fup.front.ug%2F&amp;send=false&amp;layout=standard&amp;width=350&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:350px; height:80px;" allowTransparency="true" ></iframe>
    </div>
    <div id="root" class="container">
      <header class="logo_header">
        <h1 id="logo">
          <a href="/"></a>
        </h1>
        <aside>
          up.front is a user group focused on web design &amp; frontend development topics, based in Berlin.
          Every month we meet at <a href="http://co-up.de" title="co-up.de">co.up</a>, a co-working space in Kreuzberg, where we discuss everything related to webdesign and frontend development. Everyone is welcome to participate, either by attending or holding a talk themselves. We are very much looking forward to your talk proposals, be it a keynote or a 5 minute chat about your latest find on the web.
        </aside>
      </header>
      
      <div class="content">
        
        {{content}}

      </div>

    </div>
    <!-- footer -->
    <footer>
      <div class="container">
        <p>
          You are welcome to spread the word via your favourite channels.
        </p>
        <p>
          Follow up.front.ug on <a href="http://twitter.com/upfront_ug">Twitter</a><br />
          We are also on <a href="http://www.facebook.com/pages/Upfront/158502897496288">Facebook</a><br />
          Join our <a href="http://groups.google.com/group/upfront_ug">Mailinglist</a>
        </p>

        <p>
          up.front.ug is organized by <a href="http://www.kristinaschneider.com/">Kristina Schneider</a>, <a href="http://www.jensnikolaus.co.uk/">Jens Nikolaus Pentenrieder</a>, <a href="http://twitter.com/rmehner">Robin Mehner</a>, <a href="http://kunstreichs.issue.is/">Hannes Kunstreich</a> and supported by <a href="http://co-up.de" title="co-up.de">co.up</a>.
        </p>
      </div>
    </footer>
    
   </div>

     <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-16809277-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
