<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#" xmlns:example="http://example.com/ns/#">
  <head>
    <title>up.front – webdesign &amp; frontend meetup berlin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta property="og:title" content="up.front – Webdesign and Frontend Meetup Berlin" />
    <meta property="og:type" content="example:usergroup" />
    <meta property="og:url" content="http://up.front.ug" />
    <meta property="og:image" content="http://up.front.ug/images/logo-fb.jpg" />
    <meta property="og:site_name" content="up.front.ug" />
    <meta property="og:description" content="up.front is a monthly meetup focused on web design and frontend development topics, based in Berlin. Everyone is welcome to participate, either by attending or giving a talk themselves." />

    <meta charset="utf-8" />

    <meta name="keywords" content="Frontend, Design, Webdesign, HTML5, CSS, Coding, Nerds, Usergroup, Berlin, meetup">
    <meta name="description" content="up.front is a monthly meetup focused on web design and frontend development topics, based in Berlin. Everyone is welcome to participate, either by attending or giving a talk themselves.">

    <!--[if IE]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <style>
      article, aside, dialog, figure, footer, header,
      hgroup, menu, nav, section { display: block; }
    </style>

    <link href="http://fnt.webink.com/wfs/webink.css/?project=903A3257-BC04-4D41-B613-489806D51A20&fonts=1B6C2E6C-BB21-53D3-2175-C814D91AD16C:f=Aller-Bold,32A3E230-3101-A662-F6D5-D8B9D0A38A5B:f=Aller-Regular,A504D07C-783E-0F85-8B38-EFB57612CD7B:f=AllerDisplay-Regular,9C5DF801-C745-E177-908F-369BCECD52B7:f=Aller-Italic" rel="stylesheet" type="text/css"/>


    <link rel="stylesheet" href="stylesheets/custom.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="stylesheets/print.css" type="text/css" media="print" />
    <!--[if lt IE 8]>
      <link rel="stylesheet" href="stylesheets/ie.css" type="text/css" media="screen, projection" />
    <![endif]-->

   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <link rel="shortcut icon" href="favicon.ico" />

  </head>
  <body>
  <div id="wrap">
    <div id="root" class="container">

      <header class="logo_header">
        <h1 id="logo">
          <a href="/" title="Home"></a>
        </h1>
      </header>

      <div class="content">

        {{content}}

      </div>

    </div>


    <!-- footer -->
    <footer>
      <a id="contact"></a>
      <div class="container">
        <h3>Contact</h3>

        <p>
           Our meetups take place at<br>
          <a href="http://co-up.de/">co.up Coworking Space</a><br>
          Adalbertstraße 7<br>
          10999 Berlin<br>
          <a href="https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Adalbertstra%C3%9Fe+7,+10999+Berlin,+Germany&sll=52.549636,13.666992&sspn=0.901874,1.851196&ie=UTF8&hq=&hnear=Adalbertstra%C3%9Fe+7,+Kreuzberg+10999+Berlin,+Germany&z=16">&raquo; Directions</a>
        </p>



        <br>

        <ul class="social">
          <li><a href="http://twitter.com/upfront_ug" class="social_twitter">Follow up.front.ug on Twitter</a></li>
          <li><a href="http://www.facebook.com/pages/Upfront/158502897496288" class="social_fb">We are also on Facebook</a></li>
          <li class="last"><a href="http://groups.google.com/group/upfront_ug" class="social_mail">Join our Mailinglist</a></li>
        </ul>


        <br>


        <div class="like_box">
          <iframe src="http://www.facebook.com/plugins/like.php?app_id=265825833436844&amp;href=http%3A%2F%2Fup.front.ug%2F&amp;send=false&amp;layout=standard&amp;width=300&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=63" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:63px; margin: 0 auto;" allowTransparency="true" ></iframe>
        </div>

        <br>
        <br>


        <br>

        <h3>Meet the Organizers</h3>

        <ul class="team">
          <li>
            <div class="team_inner">
              <h4>Kristina Schneider</h4>
              <img src="/images/upfront_team_kriesse.jpg" alt="Kristina Schneider">
              <a href="http://twitter.com/kriesse" title="Kristina Schneider on Twitter">@kriesse</a>
              <a href="http://www.kristinaschneider.com/" title="Kristina Schneider">kristinaschneider.com</a>
            </div>
          </li>
          <li>
            <div class="team_inner">
              <h4>Alex Feyerke</h4>
              <img src="/images/upfront_team_alex.png" alt="Alex Feyerke">
              <a href="http://twitter.com/espylaub" title="Alex Feyerke on Twitter">@espylaub</a>
            </div>
          </li>
          <li>
            <div class="team_inner">
              <h4>Max Fellmuth</h4>
              <img src="/images/upfront_team_max.jpg" alt="Max Fellmuth">
              <a href="http://twitter.com/maxfell">@maxfell</a>
            </div>
          </li>
          <li>
            <div class="team_inner">
              <h4>Karl Westin</h4>
              <img src="/images/upfront_team_karl.jpg" alt="Karl Westin">
              <a href="http://twitter.com/karlwestin">@karlwestin</a>
            </div>
          </li>
        </ul>


      </div>
    </footer>


   </div>

     <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-16809277-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>



  </body>
</html>
