---
  layout: default
---

<article>

  <header class="title">
    {% if page.meetup %}
      <a href="{{page.meetup}}" class="btn btn--rsvp hide-on-print">RSVP</a>
    {% endif %}

    <span class="title__count">
      #{{page.counter}}
    </span>
    <span class="title__date">
      {{page.date | date:'%a, %b %d'}}
      <br>
      {{page.time}}
    </span>

  </header>
  <div class="post__content">
    {% if page.intro%}
      <p>
        {{page.intro}}
      </p>
    {% endif %}

    {% include talk-list.html %}

    {{ page.content }}

  </div>

</article>
