<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>WebINK Sample HTML</title>
<link href="http://fnt.webink.com/wfs/webink.css?project=903A3257-BC04-4D41-B613-489806D51A20&fonts=1B6C2E6C-BB21-53D3-2175-C814D91AD16C:f=Aller-Bold,32A3E230-3101-A662-F6D5-D8B9D0A38A5B:f=Aller-Regular,A504D07C-783E-0F85-8B38-EFB57612CD7B:f=AllerDisplay-Regular,9C5DF801-C745-E177-908F-369BCECD52B7:f=Aller-Italic" rel="stylesheet" type="text/css"/>
<style type="text/css">
<!--
html {
font-family: sans-serif;
font-size: 100%; /* 1 */
-webkit-text-size-adjust: 100%; /* 2 */
-ms-text-size-adjust: 100%; /* 2 */
}
body { margin: 0; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
h1, h2, h3 { font-weight: normal; }
h1 {
font-size: 2em;
margin: 0.67em 0;
}
h2 {
font-size: 1.5em;
margin: 0.83em 0;
}
h3 {
font-size: 1.17em;
margin: 1em 0;
}
.container {
margin: 0 auto;
width: 80%;
max-width: 1260px;
min-width: 780px;
}
.sidebar {
float:right;
width: 26%;
}
.content {
float: left;
width: 72%;
}
-->
</style>
<!--[if lte IE 7]><style>.content { margin-right: -1px; }</style><![endif]-->
</head>

<body>
<div class="container">
<div class="header">
<hgroup>
<h1>WebINK Test HTML for your Project</h1>
<p>Project: upfront</p>
</hgroup>
</div>
<div class="content">
<!-- Start font samples -->


{{content}}



    <div style="font-family: 'Aller-Bold';">
    <h2>Aller Bold</h2>
    <p style="font-size: 11px;">Forsaking monastic tradition, twelve jovial friars gave up their vocation for a questionable existence on the flying trapeze. The public was amazed to view the quickness and dexterity of the juggler. We quickly seized the black axle and just saved it from going past him. A mad boxer shot a quick, gloved jab to the jaw of his dizzy opponent. Six javelins thrown by the quick savages whizzed forty paces beyond the mark. We promptly judged antique ivory buckles for the next prize.</p><span style="font: 80%/1.4 sans-serif; color: #444; display: block;">Paragraph is set for minimum recommended pixel size of 11px</span>
    </div>

    <div style="font-family: 'Aller-Regular';">
    <h2>Aller Regular</h2>
    <p style="font-size: 10px;">Forsaking monastic tradition, twelve jovial friars gave up their vocation for a questionable existence on the flying trapeze. The public was amazed to view the quickness and dexterity of the juggler. We quickly seized the black axle and just saved it from going past him. A mad boxer shot a quick, gloved jab to the jaw of his dizzy opponent. Six javelins thrown by the quick savages whizzed forty paces beyond the mark. We promptly judged antique ivory buckles for the next prize.</p><span style="font: 80%/1.4 sans-serif; color: #444; display: block;">Paragraph is set for minimum recommended pixel size of 10px</span>
    </div>

    <div style="font-family: 'AllerDisplay-Regular';">
    <h2>Aller Display Regular</h2>
    <p style="font-size: 12px;">Forsaking monastic tradition, twelve jovial friars gave up their vocation for a questionable existence on the flying trapeze. The public was amazed to view the quickness and dexterity of the juggler. We quickly seized the black axle and just saved it from going past him. A mad boxer shot a quick, gloved jab to the jaw of his dizzy opponent. Six javelins thrown by the quick savages whizzed forty paces beyond the mark. We promptly judged antique ivory buckles for the next prize.</p><span style="font: 80%/1.4 sans-serif; color: #444; display: block;">Paragraph is set for minimum recommended pixel size of 12px</span>
    </div>

    <div style="font-family: 'Aller-Italic';">
    <h2>Aller Italic</h2>
    <p style="font-size: 10px;">Forsaking monastic tradition, twelve jovial friars gave up their vocation for a questionable existence on the flying trapeze. The public was amazed to view the quickness and dexterity of the juggler. We quickly seized the black axle and just saved it from going past him. A mad boxer shot a quick, gloved jab to the jaw of his dizzy opponent. Six javelins thrown by the quick savages whizzed forty paces beyond the mark. We promptly judged antique ivory buckles for the next prize.</p><span style="font: 80%/1.4 sans-serif; color: #444; display: block;">Paragraph is set for minimum recommended pixel size of 10px</span>
    </div>

<!-- End font samples -->
</div>
<div class="sidebar">
<h3>Do you see your fonts?</h3>
<p>The HTML you are viewing is setup to display web fonts on the following domains:</p>
<ul>

    <li>up.front.ug</li>

    <li>front.ug</li>

</ul>
<p>If you are not seeing fonts check the following:</p>
<ul>
<li>You have taken the HTML we provided and uploaded that to a web server at one of the
above domains. This file must be served from a web server or a local web server.</li>
<li>You have not modified the HTML that you copied.</li>
<li>You enabled your project</li>
<li>The web browser you are using is capable of viewing web fonts. <a
href="http://helpme.webink.com/customer/portal/articles/156284-supported-browsers">Supported
Browsers</a></li>
</ul>
<h3>Using this code</h3>
<p>Once you have verified that you can see these web fonts display on this page then you
can use the provided CSS and HTML to create your own pages.</p>
<h3>Font sizing on this page</h3>
<p>The point size of the paragraph text in this test page has been set to the recommended
minimum pixel size. Minimum viewable size is our judgment of the font based on viewing
mixed-case text at a range of sizes, under worst-case viewing conditions (Windows XP with
ClearType off).</p>
<h3>Questions or Support</h3>
<p>Email: <a href="mailto:support@webink.com">support@webink.com</a> </p>
</div>
</div>
</body>
</html>
